<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>
    <figure>
      <img src="/img/logo-DH.png" alt="Logo Digital House">
    </figure>
    <h1><%= title %></h1>
    <p>Bienvenidos a <%= title %></p>
  
     <a href="/movies/recommended" class="botonRecomendadas">Recomendadas</a>

     <a href="/movies/new" class="botonNovedades">Novedades</a>
     
    <p><a href="/movies" class="botonListado">Listado de Películas</a></p>

    <a href="/actors" class="botonListado">Listado de Actores</a>
  </body>
</html>
